body{
  background-color: #edd7bb;
}

hr{
  border-style: dashed;
}

p{
  font-family: sans-serif;
  font-size: 25px;
  border: solid black 3px;
  background-color: #ffcb87;
  margin: 5vh 5vw;
  padding: 8vh 10vw 10vh 10vw;
  border-radius: 8px;
  float: middle;
}

h1, h2{
  font-family: serif;
  color: #b36c10;
}


h2{
  font-size: 45px;
}

h1{
  font-size: 35px;
}

button{
  background-color: #e89c3a;
  font-family: serif;
  font-size: 30px;
  margin: 10px;
  padding: 7px 15px;
}

button:active{
  background-color: #ffcb87;
  color: white;
}

button:hover{
  border: solid black 3px;
}
