#headerbuttons{
  background-color: #eba38d;
  border: 2px solid #543b24;
  margin-top: 0px;
  padding: 10px;
  text-align: right;
  display: flex;
}

.sticky-div {
      position: sticky;
            top: 0px;
        }

body{
  background-color: #FFD8C9;
  font-family: "Playfair Display";
  background-size: 1665px;
}

.SectionHeaders{
  font-family: "Libre Baskerville";
  background-color: #F1B39C;
  color: #543b24;
  font-size: 14px;
  border: 3.5px solid #543b24;
  width: 235px;
  height: 100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 5px;
}

#coverimg{
  text-align: center;
  margin-top: 30px;
}

#intro{
  background-color: #D99F89;
  border: 2px solid #b0816f;
  font-size: 14px;
  padding: 25px;
  text-align: center;
  margin-top: 30px;
}

button{
  background-color: #F1B39C;
  font-family: "Libre Baskerville";
  font-size: 19px;
  margin: 6px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  border-color: #543b24;
}

button:active{
  background-color: #DD7E60;
  border: 1px;
}


button:hover{
  border: solid #543b24 3px;
}

a:before{
  color: #543b24;
}

a:link{
  color: #543b24;
}

a:hover{
  font-size:110%;
  color: #543b24;
}

a:active{
  color: #3d2a18;
}

a:visited{
  color: #3d2a18;
}


#contact{
  text-align: center;
  font-size: 10px;
  text-decoration: underline;
}

#Homebutton{
  font-size: 30px;
}

#Resumephoto{
  padding-top: 10px;
  text-align: center;
}

#emailbutton, #phonebutton{
  font-size: 12px;
}


#workintro{
  background-color: #fadbd2;
  background-blend-mode: lighten;
  text-align: center;
  border: 1px solid #543b24;
  margin-top: 10px;
}

#descriptions{
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
}

#workingone{
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

.container {
  background-color: #F1B39C;
  border: 1px solid #543b24;
  padding: 30px 30px;
  max-width: 100vw;
  margin-top: 10px;
}
